.footer-rank {
  padding-left: 5px;
}

.footer-rank-group-spacer {
  margin-left: 6px
}

.footer-rank-image {
  margin: -5px;
  width: 32px;
  height: 32px;
}

.footer-version-wrapper {
  position: relative;
}

.footer-version-info {
  font-size: .78rem;
  position: absolute;
  right: 5px;
}
