.title-rank-image {
  max-width: 32px;
  max-height: 32px;
  margin-top: 6px;
}

.title-badge-container {
  padding-left: 5px;
}

.daily-stats-rank-icon {
  max-width: 24px;
  max-height: 24px;
  margin-top: -10px;
  margin-bottom: -8px;
}

.rank-icon-container {
  height: 39px;
  width: 39px;
}

.special-badge {
  margin-right: 2px;
}

.games-to-next-rank-column {
  text-align: center;
}

.games-to-next-rank-image {
  margin: -10px;
  width: 100%;
}

.games-to-next-rank-sidecar-column {
  width: 30%;
}

.games-to-next-rank-current-column {
  width: 40%;
}

.games-to-next-rank-win-lose-field {
}

.games-to-next-rank-mmr-field:before {
  content: ' ';
  display: block;
}
