
.ts-channel-title {
  font-size: 1.6em;
}

.ts-channel-title-server {
  font-weight: bold;
}

.badge-spacing {
  margin-right: 10px;
}

.badge-status-list {
  margin-top: 5px;
  margin-bottom: 5px;
}

.channel-container {
  height: 100%;
  padding-top: 20px;
}

.channel {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px;

  /**
  Border
   */
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border: 0px solid #000000;

  /**
  Box shadow
   */
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
}

.channel-content {

}

.channel-table tr {
  margin: 0px;
  padding: 0px;
  height: 10px;
  vertical-align: top;
}

.channel-table tbody {
  border-top: solid rgba(255, 255, 255, 0.11) 1px;
}

.channel-table tbody:nth-child(even) {

}

.channel-table tbody:nth-child(odd) {
}

.channel-table tbody:hover {

}

.channel-table-avatar-column {
  width: 48px;
  height: 48px;
}

.channel-table-avatar-column img {
  background-color: #b06f09;
  width: 48px;
  height: 48px;

  /**
Box shadow
 */
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
}

.channel-table-tsname {
  font-size: 1.1em;
}

.channel-table-disabled {
  opacity: 0.4;
}

.channel-table-account td {
  padding-top: 0;
  padding-bottom: 1px;
  margin: 0;
}

.channel-table-main-account td {

}

.channel-table-mmr-rank-icon {
  margin: -5px;
  height: 30px;
  width: 30px;
}

.channel-table-mmr-rank-icon img {
  image-rendering: -moz-crisp-edges;

}

.channel-table-next-rank {
  font-size: 0.9em;
}

.channel-table-mmr-change {

}

.main-account-avatar {
  border: rgba(172, 172, 172, 0.77) 1px solid;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.channel-title {
  display: inline-block;
  font-size: 1.9em;
}


.global-badge {
  margin-top: 4px;
  margin-left: 5px;
}

.channel-title-badge {
  margin-top: 4px;
  margin-left: 5px;
  vertical-align: top;
}


.channel-footer {
  margin-top: auto;
  margin-bottom: -0.55em;
}

.channel-footer-divider {
  margin-top: 0;
  margin-bottom: 0.2em;
  border-width: 2px;
}

.mmr-display {
  font-size: 1.4em;
}

.global-mmr-compare-text {
  font-size: 1.15em;
}

.channel-table-row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  padding: 0.5em;
  position: relative;
}

.channel-table-updated {
  background-color: rgba(90, 248, 65, 0.23);
}

.backend-version-info {
  font-size: .78rem;
  position: absolute;
  right: 5px;
}
