<ngx-spinner [fullScreen]="false" name="spinner-load-channel-overview" size="large"></ngx-spinner>
<span class="ts-channel-title">
  TS-Server:
  <span class="ts-channel-title-server">
    {{instanceInfoService.instanceDetails !== null ? instanceInfoService.instanceDetails.tsServerName : ""}}
  </span>
</span>
<span *ngIf="mmrCompareService.selectedAccounts.length > 0">
  <span class="text-muted mmr-display"> |
  </span>
              <span *ngIf="mmrCompareService.selectedAccounts.length === 1"
                    class="text-warning">
              Select two or more for custom compare.
            </span>
  <span
    *ngIf="mmrCompareService.selectedAccounts.length >= 2 && mmrCompareService.calculateMmrDifference() !== null"
    class="text-muted global-mmr-compare-text">
    <span
      class="mmr-display">
          <span *ngIf="mmrCompareService.selectedAccounts.length >= 2"
                [ngClass]="rankService.getClassForRank(getRankForMmr(mmrCompareService.calculateMmrAverage()))"
                class="global-badge badge">
            {{getRankNameForMmr(mmrCompareService.calculateMmrAverage())}}
    </span> -
    <span
      [ngClass]="{'text-success': mmrCompareService.calculateMmrDifference() < maxMmrGap,
  'text-danger': mmrCompareService.calculateMmrDifference() >= maxMmrGap,
  'text-warning': this.mmrCompareService.calculateMmrDifference() >= this.maxMmrGap * (1.00 - this.mmrGapWarningPercentage)}"><b>{{mmrCompareService.calculateMmrDifference()|number:'0.0-0'}}</b></span>
  ∆</span>
    difference selected accounts for custom compare
  <span *ngIf="mmrCompareService.selectedAccounts.length >= 2"
        class="text-muted small">({{mmrCompareService.getSelectedAccountsString()}})</span>
  </span>
</span>
<div *ngIf="mmrChannel === null" class="alert alert-info">Data not available, please wait ...</div>
<div *ngIf="mmrChannel !== null && mmrChannel.length === 0" class="alert alert-info">
  <p class="alert-heading"><b>No clients</b></p>
  <hr class="hr">
  <p>There are no clients with linked UPlay account connected to the teamspeak.</p>
  <p>This page will refresh every few seconds and show new data as soon as available.</p></div>
<div class="alert alert-info"><p>Yes, the match details and detailed stats are all broken... Thanks to Ubi moving half of the API to a new version, but leaving behind other important stats.</p>
<p>This will take us a while to fix and we might even not able to restore it fully with real time statistics as data like assists is missing completely.</p></div>
<div class="row">
  <div *ngFor="let channel of mmrChannel"
       class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
    <div class="jumbotron-fluid channel-container">
      <div class="channel">
        <div class="channel-content">
          <h class="channel-title">{{channel.channelName}}</h>
          <span [ngPlural]="channel.clients.length" class="channel-title-badge badge badge-light">
          <ng-template ngPluralCase="=0">Zero clients</ng-template>
          <ng-template ngPluralCase="=1">One client</ng-template>
          <ng-template ngPluralCase="other">{{channel.clients.length}} clients</ng-template>
          </span>
          <span *ngIf="channel._mmrAverage !== null"
                [ngClass]="rankService.getClassForRank(getRankForMmr(channel._mmrAverage))"
                class="channel-title-badge badge">
            {{getRankNameForMmr(channel._mmrAverage)}}
          </span>
          <span *ngIf="!channel._calculatedMmrGapExceeded"
                class="channel-title-badge badge badge-success">Within MMR range</span>
          <span *ngIf="channel.calculatedMmrGap > 0 && channel._calculatedMmrGapExceeded"
                class="channel-title-badge badge badge-danger">MMR gap > {{maxMmrGap}}</span>
          <span *ngIf="channel.calculatedMmrGap > 0 && !channel._calculatedMmrGapExceeded && channel._calculatedMmrGapWarning"
                class="channel-title-badge badge badge-warning">Near max. MMR gap</span>
          <span *ngIf="channel._hasClientsWithUnsatisfiedClearanceLevel"
                class="channel-title-badge badge badge-info">CL < {{minRankedClearanceLevel}}</span>
          <span *ngIf="channel._hasLeaver"
                class="channel-title-badge badge badge-danger">Leavers</span>

          <div class="">
            <table class="table table-sm table-borderless  channel-table">
              <thead>
              <tr>
                <th colspan="2"></th>
                <th colspan="2"></th>
              </tr>
              <tr class="h-100">
                <th></th>
                <th placement="bottom" tooltip="Teamspeak / UPlay account">TS/UPlay ID</th>
                <th placement="bottom" tooltip="Clearance level">CL</th>
                <th placement="bottom" tooltip="Rank icon">R</th>
                <th class="d-none d-md-table-cell"
                    placement="bottom" tooltip="MMR to next de-rank">&#8601;
                </th>
                <th placement="bottom" tooltip="The current amount of MMR this account has">MMR</th>
                <th class="d-none d-md-table-cell"
                    placement="bottom" tooltip="MMR to next up-rank">&#8599;
                </th>
                <th class="d-none d-md-table-cell"
                    placement="bottom" tooltip="MMR gain/loss between last data samples">&plusmn;
                </th>
                <th class="d-none d-sm-table-cell"
                    placement="bottom" tooltip="Kills / deaths ratio">K/D
                </th>
                <th class="d-none d-xl-table-cell"
                    placement="bottom" tooltip="Kills / deaths ratio from last snapshot">L K/D
                </th>
                <th class="d-none d-md-table-cell"
                    placement="bottom" tooltip="Win / loss ratio">W/L
                </th>
                <!-- Matches WON -->
                <th class="d-none d-sm-table-cell"
                    placement="bottom" tooltip="Matches won">W
                </th>
                <!-- Matches LOST -->
                <th class="d-none d-sm-table-cell"
                    placement="bottom" tooltip="Matches lost">L
                </th>
                <!-- Match abandons -->
                <th class="d-none d-md-table-cell"
                    placement="bottom" tooltip="Match abandons">A
                </th>
                <th class="d-none d-md-table-cell"
                    placement="bottom" tooltip="MMR difference compared to other user (if mmr compare is active)">MMRD
                </th>
                <!-- buttons for MMR compare -->
                <th class="d-none d-md-table-cell"
                    placement="bottom" tooltip="Compare MMR between users in channel">C
                </th>
                <th class="d-none d-md-table-cell"
                    placement="bottom" tooltip="Compare MMR between selected users over all channel">S
                </th>
              </tr>
              </thead>
              <tbody *ngFor="let client of channel.clients"
                     [ngClass]="
                     {'channel-table-disabled': !client._anyAccountWithMinimalClearanceLevel}"
                     class="channel-table-row">
              <tr>
                <td [attr.rowspan]="1 + client.uplayAccounts.length" class="channel-table-avatar-column">
                  <img [src]="getUbisoftAvatarForUuid(getAccountWithMostMatches(client.uplayAccounts))"
                       alt="Main account avatar"
                       class="main-account-avatar"></td>
                <td colspan="7"><span class="channel-table-tsname">{{client.tsClientName}}</span>
                  <span *ngIf="!hasAnyRankedAccount(client.uplayAccounts)"
                        class="channel-title-badge badge badge-primary">No ranked account</span>
                  <span *ngIf="client._resolveErrors > 0"
                        class="channel-title-badge badge badge-dark">Resolve Error (Ubisoft)</span>
                  <span *ngIf="client._includesLeaverAccount"
                        class="channel-title-badge badge badge-danger">
                  Leaver ({{client._maxLeaverPercentage|number:"1.0-0"}}%)
                </span>
                </td>
                <td></td>
                <td></td>
                <td></td>

              </tr>
              <tr *ngFor="let uplayAccount of client.uplayAccounts"
                  [ngClass]="{'channel-table-main-account': uplayAccount._isMainAccount,
                  'channel-table-disabled': !isAccountRanked(uplayAccount),
                  'active': selectedAccountMMRDCalculation
                  && selectedAccountMMRDCalculation === uplayAccount,
                  'channel-table-disabled': uplayAccount._mmrDifference > maxMmrGap
                  || uplayAccount._mmrDifference < maxMmrGap * -1,
                  'channel-table-disabled': hasResolveError(uplayAccount),
                  'channel-table-updated': uplayAccount._recentlyUpdated}"
                  class="channel-table-account">
                <td>
                  <a (click)="playerOverview.openModal('euw', uplayAccount.uplayUuid)"
                     href="javascript:void(0);">{{uplayAccount.uplayName}}</a>
                </td>
                <td><span
                  [ngClass]="{'text-danger': !uplayAccount._hasMinimumClearanceLevel}">{{uplayAccount.clearanceLevel}}</span>
                </td>
                <td>
                  <img [ngClass]="{'rank-icon-disabled': !uplayAccount.hasRank}"
                       [src]="rankService.buildRankImagePath(uplayAccount.rainbowSixRank.imageId)"
                       [tooltip]="uplayAccount.rainbowSixRank.aliasName"
                       alt="Siege rank image"
                       class="channel-table-mmr-rank-icon">
                </td>
                <td class="d-none d-md-table-cell"><span
                  class="channel-table-next-rank text-monospace text-danger">{{uplayAccount.mmr - uplayAccount.rainbowSixRank.mmrStart}}</span>
                </td>
                <td>
                  <span
                    *ngIf="uplayAccount.mmr !== 0"><b>{{uplayAccount.mmr | number}}</b></span>
                  <span *ngIf="uplayAccount.mmr === 0">N/A</span>
                </td>
                <td class="d-none d-md-table-cell"><span
                  *ngIf="rankService.getUpperRank(uplayAccount.rainbowSixRank) !== null"
                  class="channel-table-next-rank text-monospace text-success">{{rankService.getUpperRank(uplayAccount.rainbowSixRank).mmrStart - uplayAccount.mmr}}</span>
                </td>
                <!-- MMR difference -->
                <td class="d-none d-md-table-cell">
                  <span *ngIf="uplayAccount.lastMmrChange && uplayAccount.lastMmrChange !== uplayAccount.mmr"
                        class="channel-table-mmr-change">
                      <span
                        [ngClass]="{'text-danger': uplayAccount.lastMmrChange < 0,
                                    'text-success': uplayAccount.lastMmrChange > 0}">
                        <span *ngIf="uplayAccount.lastMmrChange > 0">+</span>{{uplayAccount.lastMmrChange}}
                      </span>
                    </span>
                </td>
                <!-- KDR -->
                <td class="d-none d-sm-table-cell">{{uplayAccount.rankedKdr | number: '1.2-2'}}</td>
                <!-- Last Snapshot KDR -->
                <td class="d-none d-xl-table-cell">{{uplayAccount.lastRankedKdrChange | number: '1.2-2'}}</td>
                <!-- WIN / LOSS Rate -->
                <td class="d-none d-md-table-cell">
                  <span *ngIf="uplayAccount.rankedMatchCount > 0"
                        class="text-monospace">
                    {{uplayAccount.rankedMatchWins /
                  (uplayAccount.rankedMatchWins + uplayAccount.rankedMatchLosses +
                    (uplayAccount.rankedMatchAbandons)
                  ) * 100 | number: '2.0-0'}}%
                  </span>
                </td>
                <!-- Matches WON -->
                <td class="d-none d-sm-table-cell">
                  <span class="text-monospace text-success">{{uplayAccount.rankedMatchWins}}</span>
                </td>
                <!-- Matches LOST -->
                <td class="d-none d-sm-table-cell">
                  <span
                    class="text-monospace text-danger">{{uplayAccount.rankedMatchLosses}}</span>
                </td>
                <!-- Match abandons -->
                <td class="d-none d-md-table-cell">
                  <span *ngIf="uplayAccount.rankedMatchAbandons > 0"
                        [ngClass]="{'text-danger font-weight-bold': uplayAccount._isLeaver}"
                        class="">
                    {{uplayAccount._leaverPercentage| number: "0.0-2"}}%
                </span>
                </td>
                <td class="d-none d-md-table-cell">
            <span [ngClass]="{
            'text-warning': uplayAccount._mmrDifference > maxMmrGap,
            'text-success': uplayAccount._mmrDifference > 0,
            'text-primary': uplayAccount._mmrDifference === 0,
            'text-danger': uplayAccount._mmrDifference < 0
            }"
            >{{uplayAccount._mmrDifference}}</span></td>
                <td class="d-none d-md-table-cell">
                   <span *ngIf="this.selectedAccountMMRDCalculation !== null &&
                          uplayAccount.uplayUuid === this.selectedAccountMMRDCalculation.uplayUuid; else showCompareButton">
                    <fa-icon icon="arrow-left"
                             tooltip="Player currently used for MMR compare"
                             tooltipPlacement="bottom"></fa-icon>
                  </span>
                  <ng-template #showCompareButton>
                    <a (click)="setCalculateDifferenceUser(uplayAccount)"
                       href="javascript:void(0);"
                    >&Delta;
                    </a>
                  </ng-template>
                </td>
                <td class="d-none d-md-table-cell">
                  <!-- Custom User Compare -->
                  <span>
                    <a (click)="mmrCompareService.addOrRemove(uplayAccount)"
                       [ngClass]="{'text-success': mmrCompareService.isInCompare(uplayAccount)}"
                       href="javascript:void(0)">&Delta;<span
                      *ngIf="mmrCompareService.isInCompare(uplayAccount)">(&#10003;)</span> </a>
                  </span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="channel-footer">
          <hr class="channel-footer-divider">
          <div *ngIf="canShowSummaryOfChannel(channel)">
            <b><span [ngClass]="{
          'text-danger':channel._calculatedMmrGapExceeded === true,
          'text-warning':channel._calculatedMmrGapWarning === true,
          'text-success': !channel._calculatedMainAccountMmrGap && !channel._calculatedMmrGapWarning }"
                     class="mmr-display">{{channel._calculatedMainAccountMmrGap | number}}</span></b>
            <span class="text-muted"> Overall-MMR-Points diff. (mains)</span>
            <span class="text-muted">
              <span class="mmr-display"> | </span><span
              class="mmr-display">Ø{{channel._mmrAverage|number:'0.0-0'}}</span>
            </span>
          </div>
          <div *ngIf="!canShowSummaryOfChannel(channel)">
            <!-- We keep this in here to archive the same height.-->
            <span class="mmr-display"></span>
            <span class="text-muted">Two or more clients with MMR required for calculation.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <hr class="baseline-hr">
    <button (click)="setCalculateDifferenceUser(null); calculateMmrDifferenceByUplayAccount()"
            [ngClass]="{
            'disabled': selectedAccountMMRDCalculation === null
            }"
            class="btn btn-sm btn-dark mr-1">Reset Single Compare
    </button>
    <button (click)="mmrCompareService.removeAll()"
            [ngClass]="{
            'disabled': mmrCompareService.selectedAccounts.length === 0
            }"
            class="btn btn-sm btn-dark mr-1">Reset Custom Compare
    </button>
    <!--button class="btn btn-sm btn-primary mr-1"
            (click)="doMmrCompare()">
      Compare MMR
      <i *ngIf="mmrCompareService.selectedAccounts !== undefined && mmrCompareService.selectedAccounts.length > 0">
        ({{mmrCompareService.selectedAccounts.length}} selected)
      </i>
    </button-->
    <br>
    <span
      class="text-muted text-monospace backend-version-info">RankBot v{{instanceInfoService.instanceDetails?.backendVersion}}</span>
  </div>
</div>

<app-player-overview #playerOverview></app-player-overview>
