<h4>Leaderboards</h4>
<div class="row">
  <div class="col-12">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a [routerLink]="['recent']" class="nav-link" href="#" routerLinkActive="active">Weekly</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['overall']" class="nav-link" href="#" routerLinkActive="active">Over-all</a>
      </li>
    </ul>
  </div>
</div>
<div class="nav-spacer"></div>

<router-outlet></router-outlet>

