<div class="player-details-chart-wrapper">
  <ngx-charts-heat-map
    [results]="chartData"
    [scheme]="colorScheme"
    [legend]="legend"
    [legendTitle]="legendTitle"
    [legendPosition]="legendPosition"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [innerPadding]="innerPadding"
    [yAxisTickFormatting]="formatY"
    min="0"
    [max]="maxKdarValue">
    <ng-template #tooltipTemplate let-model="model">
      <!-- fields are series/name/value -->
      <div class="tt">
        <span *ngIf="model?.value === _noMatchKdar; else validKdarEntry">
          No matches logged on this day
        </span>
        <ng-template #validKdarEntry>
          KDAR: <b>{{ model.value | number: "1.2" }}</b>
        </ng-template>
      </div>
    </ng-template>
  </ngx-charts-heat-map>
</div>
